@model IEnumerable<OrderProduct>
div class="container">
<div class="row">
    <div class="col-6">
        <h2>Product List</h2>
    </div>
    <div class="col-6">
        <a asp-controller="Product" asp-action="Crup" class="btn btn-primary ">
            <span>Add New Product</span>
        </a>
    </div>
</div>
<div class="row">
    <table class="table table-bordered table-striped my-2">
        <thead>
            <tr>
                <th>
                    Product Id
                </th>
                <th>
                   Name Lastname
                </th>
                <th>
                   Price
                </th>
                <th>
                    Transactions
                </th>
                <th width="150px">

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var orderProduct in Model)
            {
                <tr>
                    <td><img src="@orderProduct.Id" width="80px" /></td>
                    <td class="pt-4">@orderProduct.Name</td>
                    <td class="pt-4">@orderProduct.OrderPrice</td>
                    <td>
                        <a asp-controller="Product" asp-action="Crup" asp-route-id="@orderProduct.Id" class="btn btn-primary">
                           Edit
                        </a>

                        <a onclick="return confirm('Are you sure you want to delete?');" asp-controller="Product" asp-action="Delete" asp-route-id="@orderProduct.Id" class="btn btn-danger">
                           Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
